@{
    ViewData["Title"] = "Location";
}
<h1>@ViewData["Title"]</h1>
<table>
    <tr>
        <th>
            Main Branch
        </th>
        <th>
            Other Branch
        </th>
    </tr>
   <tr>
       <td>
           No 1 Sadiku Oshodi

       </td>
       <td>
           41 wahuha street Lagos
       </td>
   </tr>
</table>