@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h3>
    This Policy reflects the terms and conditions of the
    contract of insurance as agreed between You and Us.
</h3>
<img src="https://th.bing.com/th/id/OIP.9Y6af246bUkWbNeyLv5w6QHaEo?pid=ImgDet&rs=1">


<p>
    This Policy is issued in consideration of the payment of
    premium as specified in the Policy Schedule and
    pursuant to the answers given in Your Proposal Form
    (or when You applied for this insurance) and any other
    disclosures made by You between the time of
    submission of Your Proposal Form (or when You
    applied for this insurance) and the time this contract is
    entered into. The answers and any other disclosures
    given by You shall form part of this contract of
    insurance between You and Us. In the event of any
    pre-contractual misrepresentation made in relation to
    Your answers or in any disclosures made by You, it
    may result in avoidance of Your contract of insurance,
    refusal or reduction of Your claim(s), change of terms
    or termination of Your contract of insurance.
</p>
