/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

td,tr{
    margin:7px;
    border-style:solid;
    padding:8px;
   height:70px;
    border-width:5px

}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
img{
    scroll-behavior:smooth;
    font-display:block;
    width: 350px;
    height:400px;
    background-color:aqua;
}

/* Provide sufficient contrast against white background */
a {
  color: black;
}

.btn-primary {
  color: Background;
  background-color: black;
  border-color: rebeccapurple;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: blue;
  background-color: red;
  border-color: black;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 15px;
}
@media (min-width: 500px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 6px thick;
}
.border-bottom {
  border-bottom:5px thick;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position:inherit;
  min-height: 70%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom:auto;
  height:40px;
  color:rebeccapurple;
  background-color:wheat;
}
.footer {
  position: absolute;
  bottom:auto;
  width: 100%;
  white-space:nowrap;
  line-height:5px; /* Vertically center the text there */
}
